li{
    list-style: none;
}
.menu{
    width: 250px;
    height: 100vh;
    background-color: rgb(26, 121, 128);
    box-shadow: 1px 0px 15px 3px rgb(30, 36, 39);
}

.menuItem{
    padding: 10px;
    cursor: pointer;
    color: whitesmoke;
    &:hover {
        background-color: rgb(16, 104, 116);
        color: white;
    }
}

.open{
    display: block;
}
.close{
    display: none;
}
.isParentOpened{
    background-color: rgb(13, 99, 110);
}
.active{
    background-color: rgba(16, 104, 116, 0.767);
}
